#Menu{
    border: 3px;
    border-bottom: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#Menu button{
    margin: 5px;
}

header{
    margin-bottom: 25px;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: black;
}

#logo{
    height: 30px;
}